* {
  box-sizing: border-box;
}


html,
body {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  font-family: sans-serif!important;
  background-color: #142035 !important;
}


h1 {

  color: #6a8ef2;
  font-size: 48px !important;
  font-weight: 600 !important;
  
}

h2 {

  color: #ccc;
  font-size: 18px;
}


h3 {
  margin-top: 50px !important;
  color: #6a8ef2;
  text-align: center !important ;
  letter-spacing: 2px;
}

p {
  text-align: center;
}

.exchange {
  padding: 50px 0px !important;
  width: 100% !important;
  height: 500px; 
  background-color: #080c25;
}

.exchanger {
  width: 100%;
  height: 100%; 
  padding: 10px 20px;
  border: none ;
}


.exchangeText p{
  color: #ccc;
}





.table {
  background-color: #eee ;
  text-align: center !important;
}



.table tr:hover {
  background-color: #b9c9f5;
}

.table thead {
  background-color: #293659;
  color: #6a8ef2;
  letter-spacing: 2px;
  text-align: center !important;
}


.footer {
 
  background-color: #142035 !important;
  padding: 50px 10px 50px 10px;
  color: #6a8ef2;
  font-size: 14px;
}

header {
  background-color: #142035!important;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


header .text {
  max-width: 600px;
}

.text h2 {
  margin-bottom: 20px;
}

.rateButton {
  padding: 12px 24px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-decoration: none;
  background-color: #6a8ef2;
  color: #fff;
  border-radius: 7px;
  
}


.news {
  max-width: 900px;
  position: relative;
  margin-top: 500px;
  margin-bottom: -400px;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
}



@media (max-width: 1000px) {
  .header {
    margin: 20px 0px 20px 20px;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    
    
  }

  .imgBody {
    margin-top: 50px;
  }

  h2 {
    font-size: 16px;
  }
  

  .exchange {
    
    height: 600px;
  }

  .exchanger {
    
    padding: 10px 0px 10px 5px ;
   
  }

  .news {
    height: 1000px;
  }
}


.imgBody {
  max-width: 600px;

}

.imgBody img {
  width: 100%;
}
